.imagi { width: 3000px; height: 1600px; 

}
.list{ font-size: x-large; color: red; font-family: courier;  padding: 30px ;  margin-left: 60px;

}

.text{font-size: x-large; font-family: courier;

}
.jump{ font-size: x-large; font-family: fantasy ;margin-left: 600px; color: forestgreen;

}
